# Python Basics

In [2]:
# Operations and Strings

1 + 1

2

In [3]:
2*5

10

In [4]:
3-5

-2

In [5]:
2**10

1024

In [6]:
5/2

2.5

In [8]:
5%2 # Modulus operator - returns reminder

1

In [10]:
String = "Ravikiran"
String

'Ravikiran'

In [11]:
String1 = 'Ravi kiran'
String1

'Ravi kiran'

In [76]:
# multiplying string
String1*2

'Ravi kiranRavi kiran'

In [ ]:
# Inbuilt functions 
# Type
print(type(String))
print(type(String1))
print(type(1))
print(type(1.5))
print(type(True))
print(type(False))

In [15]:
# len
print(len(String))
print(len(String1))

9
10

## Python Lists and Boolean variables

In [24]:
print("My name is {} and I am working as a {} in MAQ Software".format("Ravikiran","Software Engineer"))

My name is Ravikiran and I am working as a Software Engineer in MAQ Software

In [28]:
print("My name is {name} and I am working as a {role} in MAQ Software".format(role="Software Engineer",name="Ravikiran"))

My name is Ravikiran and I am working as a Software Engineer in MAQ Software

In [29]:
# Python Lists
list1 = [1,'list_string',12,['a',5,'abc']]
list1

[1, 'list_string', 12, ['a', 5, 'abc']]

In [38]:
len(list1)

4

In [43]:
# list append method
new_list = [1,2,3,4,5,6]
new_list

[1, 2, 3, 4, 5, 6]

In [44]:
new_list.append('abc')
new_list

[1, 2, 3, 4, 5, 6, 'abc']

In [45]:
# append method adds list always at the end of the list.
# adds list as a nested list in append method

new_list.append(['Ravikiran','Scvsls',11,10]) 
new_list

[1, 2, 3, 4, 5, 6, 'abc', ['Ravikiran', 'Scvsls', 11, 10]]

In [46]:
# insert method - Inserts element in a specific index
new_list.insert(1,"Inserted element")

In [53]:
new_list

[1, 'Inserted element', 2, 3, 4, 5, 6, 'abc', ['Ravikiran', 'Scvsls', 11, 10]]

In [54]:
# Indexing
# indexing in python starts from '0'
print(new_list[:]) # returns complete list
print(new_list[1:]) # returns list of elements from 1st element till last
print(new_list[1:7]) # returns list of elements from 1st element till 6 [(7-1)th element]
print(new_list[1:7:2]) # returns list of elements from 1st element till 6 [(7-1)th element] by skipping 1 numbers
print(new_list[1::3]) # returns list of elements from 1st element till last by skipping 2(3-1) numbers

[1, 'Inserted element', 2, 3, 4, 5, 6, 'abc', ['Ravikiran', 'Scvsls', 11, 10]]
['Inserted element', 2, 3, 4, 5, 6, 'abc', ['Ravikiran', 'Scvsls', 11, 10]]
['Inserted element', 2, 3, 4, 5, 6]
['Inserted element', 3, 5]
['Inserted element', 4, 'abc']

In [55]:
new_list

[1, 'Inserted element', 2, 3, 4, 5, 6, 'abc', ['Ravikiran', 'Scvsls', 11, 10]]

In [56]:
# extend method

new_list.extend(['extended_element_1','extended_element_2'])
new_list

[1,
 'Inserted element',
 2,
 3,
 4,
 5,
 6,
 'abc',
 ['Ravikiran', 'Scvsls', 11, 10],
 'extended_element_1',
 'extended_element_2']

#### Operations in list

In [57]:
# sum
sum(new_list) # sum() don't work for this list because it doesn't contain only numeric values

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
num_list = [1,2,3,4,5,6]
sum(num_list)

21

In [61]:
# pop - pops the specified index element or last element by default

num_list.pop()

6

In [62]:
# poped element can also be stored
poped_element = num_list.pop(2)
poped_element

3

In [63]:
num_list

[1, 2, 4, 5]

In [65]:
lst = [1,2,3,5,5,7,4,6]

In [67]:
lst.index(5) # index returns the first occurence default

3

In [70]:
'''
index
L.index(value, [start, [stop]]) -> integer -- return first index of value.
Raises ValueError if the value is not present.
Type:      builtin_function_or_method
'''
print(lst.index(5,4)) # starts from 4th index value
print(lst.index(5,2,7)) # starts from 2nd index value

4
3

In [71]:
# count the number of occurrence
lst.count(5)

2

In [72]:
# multiplying list
lst*2

[1, 2, 3, 5, 5, 7, 4, 6, 1, 2, 3, 5, 5, 7, 4, 6]